* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

h2 {
    font-size: 1.6rem;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: bold;
}
.container {
    width: auto;
    margin-top: 0.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border: 1px solid black;
    align-content: center;
}
header, section, footer, nav, article {
    display: block;
   
}
header img {
    width: 12rem;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
  }
.header {
   
    background-color: #dfe6e9; 
    padding: 1rem;
}


#title {
    font-size: 25px;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: bold;
}

.navigation {
    background-color: #b2bec3;
    padding: 0.5rem 1rem;
    text-align: center;
}
.navigation li {
    list-style: none;
    padding: 0.5rem;
    font: bold 14px verdana;
    display: inline-block;
}

.main {
    margin: 1rem;
    width: 100%;
    align-items: center; 
}
.main article {
    text-align: center;
}
.main img {
    width: 25%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
    align-content: center;
}

.footer {
    font-size: 0.8rem;
    text-align: center;


}
.footer img {
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: middle;
    align-items: center;
}

.article {
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}